{{ define "main" }}

{{ block "masthead" . }}
    <div class="blog-masthead">
      <div class="wrapper">
        <nav class="nav blog-nav">
          <a class="nav-link {{ if .IsHome }}active{{ end }}" href="{{ "/" | relURL }}">主页</a>
          <a class="nav-link" href="{{ "posts" | relURL }}">归档</a>
        </nav>
      </div>
    </div>
{{ end }}

{{ block "header" . }}
{{ partial "header.html" . }}
{{ end }}

{{ block "body" . }}
    <div class="wrapper">
      <div class="row">
        <div class="col-sm-12 blog-main">
          {{ .Content }}
        </div>
      </div>
    </div>
{{ end }}

{{ block "footer" . }}
    {{ partial "footer.html" . }}
{{ end }}

{{ end }}
