body{
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-family: menlo;
	text-align: center;
}
a {
	text-decoration: none;
	color: black;
}
header {
	height: 100px;
	border-bottom: 2px;
	box-shadow: 0 0 0.6em silver;
}
.work {
	width: 100%;
	display: inline-flex;
	justify-content: center;
}

.work div {
	width: 250px;
	height: 400px;
	background-color: white;
	margin: 150px 30px;
	overflow: hidden;
	box-shadow: 0 0 0.8em silver;
}

.work div p {
	margin: 10px 20px;
	color: gray;
}

.work div img {
	width: 250px;
	margin-top: 20px;
}

footer {
	width: 100%;
	color: silver;
	position: absolute;
	bottom: 10px;
	text-align: center;
}