body{
	margin: 0;
	padding: 0;
	border: 0;
	font-family: menlo;
	text-align: center;
}

@media (max-width: 50em)  {
	.mylogo {
	display: none;
	}
	.work {
		display: block;
	}
}

.mylogo {
	float: left;
	margin-left: 10%;
	margin-top: 20px;
}

.mylogo img {
	width: 100px;
}

.navbar {
	height: 80px;
}

.navbar-menu {
	margin-top: 20px;
	margin-left: 10%;
	float: left;
}

.navbar-menu li {
	float: left;
	font-size: 17px;
	margin-left: 40px;
	list-style-type: none;
}

a {
	text-decoration: none;
	color: black;
}

.navbar-menu a:hover {
	text-decoration: underline;
}

header {
	height: 100px;
	border-bottom: 2px;
	box-shadow: 0 0 0.3em silver;
}
.work {
	width: 100%;
	display: inline-flex;
	justify-content: center;
}

.tap {
	width: 250px;
	height: 400px;
	background-color: white;
	margin: 150px 30px;
	overflow: hidden;
	box-shadow: 0 0 0.3em silver;
}

.work div p {
	margin: 10px 20px;
	color: gray;
}

.work div img {
	width: 250px;
	margin-top: 20px;
}

footer {
	width: 100%;
	color: gray;
	position: absolute;
	bottom: 10px;
	text-align: center;
}