{{ define "main" }}
<title>{{ if .Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
<aside id="meta">
    <div>
    <section>
      <p id="date"> {{ .Date.Format "Mon Jan 2, 2006" }} </p>
      <p id="wordcount"> {{ .WordCount }} Words </p>
    </section>
    {{ with .Params.topics }}
    <ul id="topics">
      {{ range . }}
        <li><a href="{{ "topics" | absURL}}{{ . | urlize }}">{{ . }}</a> </li>
      {{ end }}
    </ul>
    {{ end }}
    {{ with .Params.tags }}
    <ul id="tags">
      {{ range . }}
        <li> <a href="{{ "tags" | absURL }}{{ . | urlize }}">{{ . }}</a> </li>
      {{ end }}
    </ul>
    {{ end }}
    </div>
</aside>
<section id="main">
  <h1 id="title">{{ .Title }}</h1>
  <div>
        <article id="content">
           {{ .Content }}
        </article>
  </div>
</section>
{{ end }}