*{
 	padding:0px;
 	margin:0px;
 	border:0px;
 	font-family: arial;
}

a {
	color: white;
	text-decoration: none;
	font-size: 17px;
}

h2 {
	font-size: 20px;
	margin-bottom: 10px;
}

ul, li {
	list-style-type: none;
}

p {
	line-height: 150%;
	font-size: 15px;
}

body {
	background-color: gainsboro;
	min-width: 1080px;
}

.navbar {
	min-width: 1080px;
	height: 80px;
	background-color: teal;
}

.mylogo {
	float: left;
	margin-left: 15%;
	margin-top: 25px;
}

.mylogo img {
	width: 100px;
}

.navbar-menu {
	margin-right: 15%;
	float: right;
	margin-top: 50px;
}

.navbar-menu li {
	float: left;
	font-size: 17px;
	margin-left: 40px;
}

.git-link {
	float: right;
	margin-right: 20px;
	height: 30px;
	margin-top: 45px;
}

.center {
	width: 780px;
	margin: 0 auto;
}

.center h2 {
	margin: 40px auto 20px;
}

.myTextArea {
	width: 780px;
	height: 200px;
	padding: 5px;
	margin: 0 auto;
	font-size: 15px;
	border-radius: 5px;
	border: 1px solid lightgray;
}

.deal {
	margin: 10px auto;
	text-align: center;
}

#result li{
	padding: 5px;
}

button {
	height: 30px;
	padding: 5px;
	border-radius: 5px;
	margin: 10px;
	background-color: white;
	color: black;
	font-size: 16px;
}

button:hover {
	background-color: teal;
	color: white;
}

#input-date {
	height: 25px;
	font-size: 15px;
	padding: 5px;
	width: 780px;
	border-radius: 5px;
}

#error {
	color: darkred;
}

/*
	carousel
*/

.container {
	width: 780px;
	height: 450px;
	position: relative;
	overflow: hidden;
	border: 1px white solid;
}

#img-slide {
	width: 10000px;
	position: absolute;
}

#img-slide img {
	width: 780px;
	float: left;
}

#oval-button {
	position: absolute;
	bottom: 20px;
	left: 300px;
}

#oval-button li:hover {
	background-color: white;
}

.light-btn {
	background-color: white;
}

#oval-button li{
	cursor: pointer;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	/* background-color: silver; */
	margin: 5px;
	float: left;
	border: 2px white solid;
}

.arrow {
	position: absolute;
	width: 150px;
	height: 450px;
	cursor: pointer;
	text-align: center;
	color: white;
	font-size: 20px;
	display: flex;
	justify-content: center;
}
.arrow p {
	padding-top: 210px;
}

#prev {
	left: 0;
}

#next {
	right: 0;
}

#autoInput {
	width: 770px;
	height: 30px;
	padding-left: 10px;
	font-size: 16px;
}

#prompt li{
	width: 770px;
	height: 30px;
	background-color: white;
	border-bottom: silver 1px solid;
	line-height: 30px;
	padding-left: 10px;
}

#prompt li:hover {
	background-color: silver;
}

.task-intro {
	margin-bottom: 20px;
}

.drag-container {
    height: 500px;
}

.drag {
	width: 200px;
	height: 50px;
	background-color: white;
	border-bottom: 1px gray solid;
	text-align: center;
	line-height: 50px;
	cursor: move;
}

.drag-wrap {
	width: 200px;
	height: 500px;
	background-color: gray;
	float: left;
}

.drag-wrap:first-child{
	margin-right: 200px;
	color: gray;
}

.dragging {
	/* visibility: hidden; */
	display: none;
} 

