@media (min-width: 48em) {
  html {
    font-size: 18px;
  }
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff
}

p {
	font-size: 16px;
}

li {
	margin-bottom: 0.5rem;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

time {
	color: gray;
	margin-right: 1rem;
}

/*
 * Masthead for nav
 */

.blog-masthead {
  margin-bottom: 3rem;
  background-color: #f9f9f9;
  -webkit-box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
          box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
}

/* Nav links */
.nav-link {
  position: relative;
  padding: 1rem;
  font-weight: 500;
  color: gray;
}
.nav-link:hover,
.nav-link:focus {
  color: black;
  background-color: transparent;
}

/* Active state gets a caret at the bottom */
.nav-link.active {
  color: black;
}
.nav-link.active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -.3rem;
  vertical-align: middle;
  content: "";
  border-right: .3rem solid transparent;
  border-bottom: .3rem solid;
  border-left: .3rem solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
  padding-bottom: 1.25rem;
  margin-bottom: 2rem;
  border-bottom: .05rem solid #eee;
  text-align: center;
}
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: normal;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}

.container {
	max-width: 60rem;
}


/*
 * Main column and sidebar layout
 */

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 1rem;
  /*margin: 0 -1rem 1rem;*/
}
.sidebar-module-inset {
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: .25rem;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}


/*
 * Blog posts
 */
.archive li{
	list-style: none;
}
.archive a{
	color: black;
}
.blog-main{
  width: 100%;
}
.blog-post {

  margin: 1rem;
}
.blog-post-title {
  margin-top: 1.5rem;
  margin-bottom: .25rem;
  font-size: 2rem;
  text-align: center;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
  text-align: center;
}
article img {
  max-width: 100%;
  height: auto;
  margin: 13px auto;
}

.sharing-icons .nav-item+.nav-item {
  margin-left: 1rem;
}
/* add a margin above the disqus comments only if the preceeding sharing section
is present (because sharing can be hidden, and the margin isn't always needed */
section + #disqus_thread {
  margin-top: 1rem;
}

article blockquote {
  margin-bottom: $spacer;
  font-size: $blockquote-font-size;
}

article div.highlight {
  padding: 5px 5px 0px 5px;
}

/*
 * Footer
 */

.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.category-tag {
	color: gray;
}
