{{ define "main" }}

{{ block "masthead" . }}
    <div class="blog-masthead">
      <div class="wrapper">
        <nav class="nav blog-nav">
          <a class="nav-link {{ if .IsHome }}active{{ end }}" href="{{ .Site.BaseURL | absLangURL }}">主页</a>
          <a class="nav-link {{ if not .IsHome }}active{{ end }}" href="{{ .Site.BaseURL }}posts">归档</a>
        </nav>
      </div>
    </div>
{{ end }}

{{ block "header" . }}
{{ partial "header.html" . }}
{{ end }}

{{ block "body" . }}
    <div class="wrapper">
      <div class="row">
        <div class="col-sm-12 blog-main">
          <article>
            {{ $industry := index .Site.Taxonomies.categories "行业研究报告" }}
            {{ if $industry }}
            <h4>行业研究报告</h4>
            <ul class="archive">
              {{ range $industry.Pages }}
              <li>
                {{ if .Date }}<time>{{ .Date.Format "2006-01-02" }}</time>{{ end }}
                <a href="{{ .Permalink }}">{{ .Title }}</a>
              </li>
              {{ end }}
            </ul>
            {{ end }}
            {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
            {{ if ne $name "行业研究报告" }}
            <h4>{{ $name | humanize | title }}</h4>
            <ul class="archive">
              {{ range $taxonomy.Pages }}
              <li>
                {{ if .Date }}<time>{{ .Date.Format "2006-01-02" }}</time>{{ end }}
                <a href="{{ .Permalink }}">{{ .Title }}</a>
              </li>
              {{ end }}
            </ul>
            {{ end }}
            {{ end }}
          </article>
        </div> 
      </div> 
    </div>
{{ end }}

{{ block "footer" . }}
    {{ partial "footer.html" . }}
{{ end }}

{{ end }}