{{ define "main" }}

{{ block "masthead" . }}
    <div class="blog-masthead">
      <div class="wrapper">
        <nav class="nav blog-nav">
          <a class="nav-link" href="{{ "/" | relURL }}">主页</a>
          <a class="nav-link {{ if not .IsHome }}active{{ end }}" href="{{ "posts" | relURL }}">归档</a>
        </nav>
      </div>
    </div>
{{ end }}

{{ block "body" . }}
{{ $dateFormat := default "Mon Jan 2, 2006" (index .Site.Params "date_format") }}
    <div class="container">
      <div class="row">
        <div class="blog-main">
          <a class="back-link" href="{{ "posts" | relURL }}">← 返回归档</a>
        	<article class="blog-post">
			  <header>
			    <h2 class="blog-post-title" dir="auto">{{ .Title }}</h2>
			    <p class="blog-post-meta"><time {{ .Date.Format "2006-01-02T15:04:05Z07:00" | printf "datetime=%q" | safeHTMLAttr }}>{{ .Date.Format $dateFormat }}</time></p>
			  </header>
			  {{ .Content }}
			</article>
        </div> 
      </div> 
    </div>
{{ end }}

{{ end }}